.contenedorItemSmall{
    height: 100%;
    width: 130px;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    cursor: pointer;
}

.contenedorItemSmall .contenedorPoster{
    width: 100%;
    height: 195px;
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 8px 1px rgba(217,212,212,0.53);
    -webkit-box-shadow: 0px 0px 8px 1px rgba(217,212,212,0.53);
    -moz-box-shadow: 0px 0px 8px 1px rgba(217,212,212,0.53);
    margin-bottom: 8px;
}

.contenedorItemSmall .contenedorPoster img{
    width: 100%;
}