.contenedor-botones-tendencia{
    padding-left: 10px;
    display: flex;
    gap: 10px;
}

.contenedor-botones-tendencia > .tendenciaOpcion{
    border: none;
    border-radius: 10px;
    padding: 6px 20px;
    cursor: pointer;
    font-size: 14px;
    color: black;
    background-color: #e1e0e0;
    
}

.contenedor-botones-tendencia > .tendenciaOpcion.activo{
    background: var(--tmdbDarkBlue);
    color: white;
}

@media (width <= 600px) {
    .contenedor-botones-tendencia{
        padding-left: 10px;
        margin-bottom: 12px;
    }
}