.contenedorFlexAccount{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    order: 4;
    position: relative;
}
.contenedorFlexAccount .iconElementsWrapper {
    width: 100%;
    height: 100%;
}

.contenedorFlexAccount .accountButton{
    background: none;
    border: none;
}

.contenedorFlexAccount img{
    width: 20px;
    cursor: pointer;
    color: white;
    background: none;
}

@media (max-width: 914px) {
    .contenedorFlexAccount{
        display: none;    
    }
}