.headerSimple {
    width: 100%;
    height: 60px;
    background: var(--tmdbDarkBlue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerSimple .wrapperLogo {
    width: 110px;
    flex-shrink: 0;
    flex-grow: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    cursor: default;
}

.headerSimple img {
    width: 100%;
    cursor: default;
}