.botonBuscarMovil {
    display: none;
    color: white;
    cursor: pointer;
    width: 38px;
    display: none;
}

.botonBuscarMovil .material-symbols-outlined{
    font-size: 30px;
}

@media (max-width: 914px) {
    .botonBuscarMovil{
        display: flex;   
        justify-content: flex-end;
    }
}

