.botonBuscarMovil {
    display: none;
    color: white;
    cursor: pointer;
    width: 38px;
    display: flex;
    justify-content: flex-end;
}

.botonBuscarMovil .material-symbols-outlined{
    font-size: 30px;
}

@media (max-width: 914px) {
    .botonBuscarMovil{
        order: 3; 
        display: flex;   
    }
}

