.contenedorBuscar {
  flex: 1; /* para que crezca entre header y footer */
  display: flex;
  flex-direction: column;
  padding-top: 60px; /* altura del header */
  padding-left: 90px;
  padding-right: 90px;
}

.contenedorBuscar .mensajeBusqueda{
  margin-top: 20px;
  font-size: 22px;
  font-weight: 350;
  margin-bottom: 20px;
}

.contenedorBuscar .mensajeBusqueda span{
  font-weight: 400;
}

.contenedorBuscar .wrapperConsulta{
  display:flex;
  width: 100%;
}

.contenedorBuscar .wrapperConsulta .columnaFiltro{
  width: 300px;
}

.contenedorBuscar .wrapperConsulta .columnaFiltro .filtro{
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 5px rgb(162, 157, 157);
}


.contenedorBuscar .wrapperConsulta .columnaFiltro h3{
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
  background-color: rgb(215, 213, 213);
  text-align: left;
}

.contenedorBuscar .wrapperConsulta .columnaFiltro ul{
  text-decoration: none;
  padding: 12px 0px;
  margin: 0;
}

.contenedorBuscar .wrapperConsulta .columnaFiltro li{
  list-style: none;
  font-size: 16px;
  font-weight: 350;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.contenedorBuscar .wrapperConsulta .columnaFiltro li > span{
  padding: 0px 5px;
  border-radius: 7px;
  background: rgb(215, 213, 213);
}

.contenedorBuscar .wrapperConsulta .columnaFiltro li.activo{
  background: rgb(237, 237, 237);
}

.contenedorBuscar .wrapperConsulta .columnaFiltro li.activo span{
  background: white
}

.contenedorBuscar .wrapperConsulta .columnaFiltro li:hover{
  background: rgb(246, 244, 244);
}

.contenedorBuscar .wrapperConsulta .columnaResultados {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}

.contenedorBuscar .columnaResultados .contenedorResultados{
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

