.contenedorBuscar {
  flex: 1; /* para que crezca entre header y footer */
  display: flex;
  flex-direction: column;
  padding-top: 60px; /* altura del header */
  padding-left: 90px;
  padding-right: 90px;
}

.contenedorBuscar .mensajeBusqueda{
  margin-top: 20px;
  font-size: 22px;
  font-weight: 350;
  margin-bottom: 20px;
}

.contenedorBuscar .mensajeBusqueda span{
  font-weight: 400;
}

.contenedorBuscar .wrapperConsulta{
  display:flex;
  width: 100%;
}

.contenedorBuscar .wrapperConsulta .columnaFiltro{
  width: 280px;
}

.contenedorBuscar .wrapperConsulta .columnaFiltro .filtro{
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 5px rgb(162, 157, 157);
}


.contenedorBuscar .wrapperConsulta .columnaFiltro h3{
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
  background-color: rgb(215, 213, 213);
  text-align: left;
}

.contenedorBuscar .wrapperConsulta .columnaFiltro ul{
  text-decoration: none;
  padding: 12px 0px;
  margin: 0;
}

.contenedorBuscar .wrapperConsulta .columnaFiltro li{
  list-style: none;
  font-size: 16px;
  font-weight: 350;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.contenedorBuscar .wrapperConsulta .columnaFiltro li > span{
  padding: 0px 5px;
  border-radius: 7px;
  background: rgb(215, 213, 213);
}

.contenedorBuscar .wrapperConsulta .columnaFiltro li.activo{
  background: rgb(237, 237, 237);
}

.contenedorBuscar .wrapperConsulta .columnaFiltro li.activo span{
  background: white
}

.contenedorBuscar .wrapperConsulta .columnaFiltro li:hover{
  background: rgb(246, 244, 244);
}

.contenedorBuscar .wrapperConsulta .columnaResultados {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}

.contenedorBuscar .columnaResultados .contenedorResultados{
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

@media (max-width: 914px) {

  .contenedorBuscar .mensajeBusqueda{
    font-size: 18px;
    padding: 0 15px 0 15px;
  }

  .contenedorBuscar {
    padding: 60px 0 0 0;
  }

  .contenedorBuscar .wrapperConsulta .columnaFiltro{
    width: 100%;
    padding: 0 0px 20px 0px;
    border-radius: 0;
  }

  .contenedorBuscar .wrapperConsulta .columnaFiltro .filtro{
    border-radius: 0;
    box-shadow: none;
  }

  .contenedorBuscar .wrapperConsulta .columnaFiltro ul {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; /* Oculta el scroll en Firefox */
    -ms-overflow-style: none; /* Oculta el scroll en Edge */
    gap: 10px;
    padding: 10px 15px;
  }

  .contenedorBuscar .wrapperConsulta .columnaFiltro ul::-webkit-scrollbar {
    display: none; /* Oculta el scroll en Chrome/Safari */
  }

  .contenedorBuscar .wrapperConsulta .columnaFiltro li {
    flex: 0 0 auto; /* Evita que se ajusten al ancho total */
    scroll-snap-align: start;
    border-radius: 8px;
    background: rgb(243, 243, 243);
    padding: 10px 16px;
    white-space: nowrap;
    gap: 10px;
  }

  .contenedorBuscar .wrapperConsulta .columnaFiltro li.activo {
    background: rgb(36, 124, 218);
    color: white;
  }

  .contenedorBuscar .wrapperConsulta .columnaFiltro li.activo span {
    background: white;
    color: black;
  }

  .contenedorBuscar .wrapperConsulta .columnaFiltro h3{
    display: none;
  }

    .contenedorBuscar .wrapperConsulta{
    flex-direction: column;
  }

  .contenedorBuscar .wrapperConsulta .columnaResultados {
    padding: 0 15px 0 15px;
  }
}
