.loginContainer{
    width: 100%;
    height: 100%;
    display: flex;
}

.loginContainer .contenedorFormulario{
    width: 30%;
    height: 100%;
}

.loginContainer .contenedorImagen{
    width: 100%;
    height: 100%;
}