.error404-container{
    width: 100%;
    min-height: 100dvh;
    background-color: #eaebed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.error404-container .contenedorLogoMensaje{
    min-width: 200px;
    width: 350px;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.error404-container .notfound_mensaje{
    width: 100%;
    background: white;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error404-container .logo {
    display: flex;
    justify-content: center;
}

.error404-container .logo img{
    width: 50px;
    height: 50px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
}

.notFoundContainer .notfound_mensaje h1{
    margin: 7px 0;
}

.error404-container > .notfound_mensaje > h1,.error404-container > .notfound_mensaje > p{
    text-align: center;
}

.error404-container .notfound_mensaje button{
    width: 100px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: black;
    background-color: var(--yellow-button);
    margin-top: 10px;
    cursor: pointer;
}