.contenedorProximamente {
    flex: 1;
  height: 100%;             /* ocupa todo el espacio disponible */
  display: flex;
  flex-direction: column;
  justify-content: center;  /* centrado vertical */
  align-items: center;      /* centrado horizontal */
  text-align: center;
  padding: 20px;
}

.contenedorProximamente p{
  text-align: center;
}

@media (max-width: 500px){
    .contenedorProximamente h1{
        font-size: 23px;
    }
}