.registerPage{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.registerPage .registerContainer{
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;  /* NO estira verticalmente */
}

.registerPage .contenedorFormulario{
    width: 450px;
    background: white;
    padding:  48px;
    border-radius: 10px;
    margin-top: 48px;
}

.registerPage .contenedorFormulario h1{
    margin: 0 0 20px;
    font-size: 36px;
    color: #0d0d68;
}

.registerPage .contenedorFormulario form{
    width: 100%;
    display: flex;
    flex-direction: column;
}