.SkeletonInfoActor{
    display: flex;
    flex-direction: column;
    min-width: 140px;
    max-width: 140px;
    border-radius: 8px;
    overflow: hidden;
}

.SkeletonInfoActor .SkeletonContenedorImagen {
  height: 175px;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  animation: colorPulse 0.5s infinite alternate;
}

.SkeletonInfoActor .SkeletonDatosActor{
    flex-grow: 1;
    padding: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.SkeletonInfoActor .SkeletonNombreActor {
  width: 70%;
  height: 20px;
  margin-bottom: 3px;
  animation: colorPulse 0.5s infinite alternate;
}

.SkeletonInfoActor .SkeletonNombrePersonaje{
    width: 50%;
    height: 18.4px;
    animation: colorPulse 0.5s infinite alternate;
}

@keyframes colorPulse {
    from{
        background-color: #c9c9c9;
    }
    to{
        background-color: #eeeded;
    }
}