.contenedorCarruselFilmografia{
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
    width: 100%;
}

.contenedorCarruselFilmografia .carruselFilmografia {
  display: flex;
  flex-direction: row;
  align-items: stretch;      /* hace que los hijos tengan misma altura (según el más alto) */
  gap: 16px;
  overflow-x: auto;
  padding-bottom: 12px;
}

@media (max-width: 720px) {
  .contenedorCarruselFilmografia h2 {
    padding-left: 15px;
  }
}