.menuHamburguesa {
    color: white;
    cursor: pointer;
    display: none;
    border: none;
    background: none;
    
}

.menuHamburguesa .material-symbols-outlined{
    font-size: 30px;
}

@media (max-width: 914px) {
    .menuHamburguesa{
        display: block;
        order: 1;    
    }
}