.contenedorItem{
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    cursor: pointer;
}

.contenedorItem > img{
    width: 150px;
    height: 225px;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 8px 1px rgba(217,212,212,0.53);
    -webkit-box-shadow: 0px 0px 8px 1px rgba(217,212,212,0.53);
    -moz-box-shadow: 0px 0px 8px 1px rgba(217,212,212,0.53);
}

.contenedorItem > h1 , p {
    font-size: 16px;
}