.infoPeliculaTarjeta{
    position:relative;
    width: 100%;
    min-height: 510px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 90px;
}

.infoPeliculaTarjeta::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7); /* negro con 50% de opacidad */
  z-index: 0;
}

.contenedorInformacion {
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    color: white;
}

.infoPeliculaTarjeta .informacion h1{
    margin: 0;
    margin-bottom: 10px;
    font-size: 40px;
}

.infoPeliculaTarjeta .poster{
    min-width: 300px;
    max-width: 300px;
    min-height: 450px;
    max-height: 450px;
}

.infoPeliculaTarjeta .poster > img{
    border-radius: 8px;
    width: 100%;
}

.infoPeliculaTarjeta .informacion {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.infoPeliculaTarjeta .informacion .random{
    margin-bottom: 20px;
}

.infoPeliculaTarjeta .informacion .year{
    font-weight: 200;
}

.infoPeliculaTarjeta .informacion .clasificacion{
    outline: 1px solid white;
    border-radius: 5px;
    padding: 2px 7px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 7px;
}

.infoPeliculaTarjeta .informacion .contenedorScore{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.infoPeliculaTarjeta .informacion .score{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infoPeliculaTarjeta .informacion .tagline{
    font-style: italic;
    margin-bottom: 10px;
}

.infoPeliculaTarjeta .informacion .resumenTitulo{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.infoPeliculaTarjeta .informacion .resumen{
    font-weight: 300;
    margin-bottom: 14px;
}

.infoPeliculaTarjeta .informacion .contenedorCrew{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
}

.infoPeliculaTarjeta .informacion .contenedorCrew .nombreEmpleado{
    margin-bottom: 4px;
}

.infoPeliculaTarjeta .informacion .contenedorCrew .puestoEmpleado{
    font-weight: 300;
}