.infoPeliculaTarjeta{
    position:relative;
    width: 100%;
    min-height: 510px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 90px;
}

.infoPeliculaTarjeta::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7); /* negro con 50% de opacidad */
  z-index: 0;
}

.infoPeliculaTarjeta .contenedorInformacion {
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    color: white;
}

.infoPeliculaTarjeta .informacion .titulo{
    margin: 0;
    margin-bottom: 10px;
    font-size: 40px;
}

.infoPeliculaTarjeta .contenedorPoster{
    display: flex;
    min-width: 300px;
    max-width: 300px;
    min-height: 450px;
    max-height: 450px;
}

.infoPeliculaTarjeta .poster{
    width: 100%;
    height: 100%;
}

.infoPeliculaTarjeta .poster > img{
    border-radius: 8px;
    width: 100%;
}

.infoPeliculaTarjeta .informacion {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.infoPeliculaTarjeta .informacion .random{
    margin-bottom: 20px;
}

.infoPeliculaTarjeta .informacion .year{
    font-weight: 200;
}

.infoPeliculaTarjeta .informacion .clasificacion{
    outline: 1px solid white;
    border-radius: 5px;
    padding: 2px 7px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 7px;
}

.infoPeliculaTarjeta .informacion .contenedorScore{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.infoPeliculaTarjeta .informacion .score{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoPeliculaTarjeta .informacion .tagline{
    font-style: italic;
    margin-bottom: 10px;
}

.infoPeliculaTarjeta .informacion .resumenTitulo{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.infoPeliculaTarjeta .informacion .resumen{
    font-weight: 300;
    margin-bottom: 14px;
}

.infoPeliculaTarjeta .informacion .contenedorCrew{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:10px; 
}

.infoPeliculaTarjeta .informacion .contenedorCrew .nombreEmpleado{
    margin-bottom: 4px;
}

.infoPeliculaTarjeta .informacion .contenedorCrew .puestoEmpleado{
    font-weight: 300;
}

@media (width <= 910px) {
    .infoPeliculaTarjeta{
        padding: 20px 20px;
    }
}

@media (width <= 820px) {
    .infoPeliculaTarjeta{
        padding: 10px 10px;
    }
}

@media (max-width: 720px) {

    .infoPeliculaTarjeta{
        padding: 0;
    }
    .infoPeliculaTarjeta .contenedorInformacion {
        flex-direction: column;
    }

    .infoPeliculaTarjeta .contenedorPoster{
        width: 100%;
        min-width: auto;
        max-width: none;
        min-height: auto;
        max-height: none;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        justify-content: flex-start;
    }

    .infoPeliculaTarjeta .poster{
        min-width: 128.25px;
        max-width: 128.25px;
        min-height: 192.37px;
        max-height: 192.37px;
        margin: 10px;
    }

    .infoPeliculaTarjeta .informacion {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        background-color: rgb(35, 33, 33);
    }

    .infoPeliculaTarjeta .informacion .titulo{
        margin: 0;
        font-size: 22px;
        padding: 10px;
        padding-bottom: 10px;
        text-align: center;
    }

    .infoPeliculaTarjeta .informacion .random{
        padding: 5px 10px;
        margin-bottom: 10px;
        text-align: center;
        border-top: 1px solid rgb(112, 112, 112);
        border-bottom: 1px solid rgb(112, 112, 112);
        background-color: #2a2a2a;
    }

    .infoPeliculaTarjeta .informacion .contenedorScore{
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .infoPeliculaTarjeta .informacion .score{
        width: 40px;
        height: 30px;
        font-size: 16px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .infoPeliculaTarjeta .informacion .resumenTitulo{
        font-size: 18px;
        margin: 0px 10px 10px 10px;
    }

    .infoPeliculaTarjeta .informacion .resumen{
        font-size: 16px;
        font-weight: 300;
        margin: 0px 10px 25px 10px;
    }

    .infoPeliculaTarjeta .informacion .contenedorCrew{
        margin: 0px 10px 10px 10px;
        grid-template-columns: repeat(2, 1fr);
        gap:10px; 
    }

    .infoPeliculaTarjeta .informacion .contenedorCrew .puestoEmpleado{
    font-size: 14px;
}
}