.contenedorItem{
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
}

.contenedorItem > img{
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 1px rgba(217,212,212,0.53);
    -webkit-box-shadow: 0px 0px 8px 1px rgba(217,212,212,0.53);
    -moz-box-shadow: 0px 0px 8px 1px rgba(217,212,212,0.53);
}

.contenedorItem > h1 , p {
    font-size: 16px;
}