.contenedorItem{
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
}

.contenedorItem > img{
    width: 100%;
    border-radius: 8px;
}

.contenedorItem > h1 , p {
    font-size: 16px;
}