header{
    position: fixed;
    height: 60px;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: var(--tmdbDarkBlue);
    padding: 0 90px;
    display: flex;
    align-items: center;
    gap: 20px;
    z-index:100;

    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.rightGroup{
    order: 4;
    display: flex;
}

.profilePlaceholder {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
}

@media (max-width: 914px) {
    header{
        padding: 0 15px;
        justify-content: space-between;    
    }

    .rightGroup{
        gap: 12px;
    }

    .profilePlaceholder {
        width: 29px;
        height: 29px;
    }
}
