.contenedor-busqueda{
    margin: 0;
    padding: 0;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-width: 0;
    border-radius: 5px;
}

.cuadro-busqueda {
  flex: 1;
  max-width: 600px;
  min-width: 0;
  height: 100%; /* ocupará toda la altura del contenedor */
  border-radius: 5px;
  background-color: white;
  display: flex;
  align-items: center;
}


.seach-icon-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efeded;
  height: 100%;
  width: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.cuadro-busqueda > .material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  width: 50px;
}

.input-busqueda{
  flex: 1;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  padding: 0px 5px;
  font-size: 16px;
}