.contenedor-busqueda{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    height: 30px;
    display: flex;
    align-items: center;
}

.cuadro-busqueda {
  width: 100%;
  height: 100%; /* ocupará toda la altura del contenedor */
  font-size: 18px;
  padding: 0 8px; /* opcional: espacio interno */
}