.skeletonContenidoEncontrado {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgb(162, 157, 157);
    overflow: hidden;
    display: flex;
}

.skeletonContenidoEncontrado .skeletonContenedorPoster{
    min-width: 105px;
    max-width: 105px;
    min-height: 157.5px;
    max-height: 157.5px;
    animation: colorPulse 0.5s infinite alternate;
}

.skeletonContenidoEncontrado .skeletonContenedorInformacion{
    flex: 1;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
}

.skeletonContenidoEncontrado .skeletonContenedorInformacion h3{
    max-width: 200px;
    height: 21.6px;
    margin: 0;
    border-radius: 10px;
    animation: colorPulse 0.5s infinite alternate;
}


.skeletonContenidoEncontrado .skeletonContenedorInformacion .skeletonResumen{
    margin: 20px 0 7px 0;
    width: 100%;
    height: 15px;
    border-radius: 10px;
    animation: colorPulse 0.5s infinite alternate;
}

.skeletonContenidoEncontrado .skeletonContenedorInformacion .skeletonResumen2{
    width: 100%;
    height: 15px;
    border-radius: 10px;
    animation: colorPulse 0.5s infinite alternate;
    margin-bottom: 7px;
}

/*Reglas para el actor*/
.skeletonContenidoEncontrado .skeletonContenedorFoto{
    min-width: 80px;
    max-width: 80px;
    min-height: 90px;
    max-height: 90px;
    animation: colorPulse 0.5s infinite alternate;
}

.skeletonContenidoEncontrado .skeletonContenedorInformacionActor{
    flex: 1;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
}

.skeletonContenidoEncontrado .skeletonContenedorInformacionActor h3{
    max-width: 150px;
    height: 19px;
    margin: 0 0 10px 0;
    border-radius: 10px;
    animation: colorPulse 0.5s infinite alternate;
}

.skeletonContenidoEncontrado .skeletonContenedorInformacionActor p{
    max-width: 90px;
    height: 17px;
    margin: 5px 0 0 0;
    border-radius: 10px;
    animation: colorPulse 0.5s infinite alternate;
}