.carruselContenedor{
    width: 100%;
    padding: 0 90px;
    overflow-x: auto;
    display: flex;
    display: flex;
    flex-direction: column;
}

.carruselContenedor .encabezadoCarrusel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.carruselContenedor .encabezadoCarrusel > h1{
    font-size: 25px;
    font-weight: 500;
}

.carruselContenedor .carrusel{
    width: 100%;
    overflow-x: auto;
    display: flex;
    gap:16px;
    display: flex;
    flex-direction: row;
    padding-bottom: 12px;
}

@media (width <= 820px) {
    .carruselContenedor{
        padding: 0px 0px;
    }

    .carruselContenedor .encabezadoCarrusel > h1{
        margin-left: 15px;
    }

    .carruselContenedor .carrusel > *:first-child {
        margin-left: 15px; /* padding inicial */
    }

    .carruselContenedor .carrusel > *:last-child {
        margin-right: 15px; /* padding final */
    }
}

@media (width <= 600px) {
    .carruselContenedor .encabezadoCarrusel{
        flex-direction: column;
        align-items: flex-start;
        margin-left: 15px;
    }

    .carruselContenedor .encabezadoCarrusel > h1{
        font-size: 22px;
        margin-left: 0px;
        margin-bottom: 10px;
    }
}