.contenedorInfoPersona{
    padding: 30px 90px 0 90px;
    display: flex;
    gap: 20px;
}

.contenedorInfoPersona .columnaIzq{
    width: 300px;
    flex-shrink: 0;
    flex-grow: 0;
}

.contenedorInfoPersona .sitioOficial{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    gap: 6px;
}

.contenedorInfoPersona .sitioOficial .negritas_sitio_oficial{
    font-size: 18px;
    font-weight: 500;
}

.contenedorInfoPersona .sitioOficial a{
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.contenedorInfoPersona .sitioOficial .material-symbols-outlined{
    font-size: 22px;
    color: black;
}

.contenedorInfoPersona .negritas{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 3px;
}

.contenedorInfoPersona  .dato{
    font-size: 16px;
    margin-bottom: 10px;
}
.contenedorInfoPersona .columnaDer h1{
    font-size: 50px;
    margin: 0;
}

.contenedorInfoPersona .contenedorImagenPersona{
    width: 100%;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
}

.contenedorInfoPersona .contenedorImagenPersona img{
    width: 100%;
}