.contenedorInfoPersona{
    padding: 30px 90px 0 90px;
    display: flex;
    gap: 20px;
    width: 100%;
}

.contenedorInfoPersona .columnaIzq{
    width: 300px;
    flex-shrink: 0;
    flex-grow: 0;
}

.contenedorInfoPersona .contenedorImagenPersona{
    width: 100%;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
}

.contenedorInfoPersona .contenedorImagenPersona img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 8px 1px rgba(217,212,212,0.53);
    -webkit-box-shadow: 0px 0px 8px 1px rgba(217,212,212,0.53);
    -moz-box-shadow: 0px 0px 8px 1px rgba(217,212,212,0.53);
}

.contenedorInfoPersona .DatosPersonales{
        width: 100%;
}

.contenedorInfoPersona .sitioOficial{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    gap: 6px;
}

.contenedorInfoPersona .sitioOficial .negritas_sitio_oficial{
    font-size: 18px;
    font-weight: 500;
}

.contenedorInfoPersona .sitioOficial a{
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.contenedorInfoPersona .sitioOficial .material-symbols-outlined{
    font-size: 22px;
    color: black;
}

.contenedorInfoPersona .negritas{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 3px;
}

.contenedorInfoPersona  .dato{
    font-size: 16px;
    margin-bottom: 10px;
}

.contenedorInfoPersona .columnaIzq  .nombrePersona{
    display: none;
}

.columnaDer {
  flex: 1 1 0;       /* flexible */
  max-width: 100%;    /* nunca excede el ancho disponible */
  min-width: 0;       /* permite que el contenido haga overflow dentro de la columna */
}

.contenedorInfoPersona .columnaDer h1{
    font-size: 50px;
    margin: 0;
}

@media (width <= 910px) {
    .contenedorInfoPersona{
        padding: 30px 15px;
    }
}

@media (min-width: 461px) and (max-width: 720px) {
    .contenedorInfoPersona{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .contenedorInfoPersona .columnaIzq{
        display: flex;
        width: 100%;
        padding: 30px 15px 0px 15px;
    }

    .contenedorInfoPersona .contenedorImagenPersona{
        min-width: 210px;
        max-width: 210px;
        min-height: 315px;
        max-height: 315px;
    }

    .contenedorInfoPersona .DatosPersonales{
        padding-left: 25px;
    }

    .contenedorInfoPersona .columnaIzq  .nombrePersona{
        display: block;
        font-size: 30px;
        margin-top: 0px;
        margin-bottom: 15px;
    }

    .contenedorInfoPersona .columnaIzq  .subtitulo{
        display: none;
    }

    .contenedorInfoPersona .columnaDer{
        min-width: 100%;
    }

    .contenedorInfoPersona .columnaDer h1{
        display: none;
    }

    .contenedorInfoPersona .columnaDer .biografiaTitulo{
        padding-left: 15px;
    }
    
    .contenedorInfoPersona .columnaDer p{
        padding-left: 15px;
        padding-right: 15px;
    }

    .contenedorInfoPersona .columnaDer .tabla-departamento{
        padding: 0px 15px 0px 15px;
    }
}

@media (max-width: 460px) {

    .contenedorInfoPersona {
       flex-direction: column; 
       justify-content: center;
       align-items: center; 
    }

    .contenedorInfoPersona .columnaIzq{
        display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;   
    }

    .contenedorInfoPersona .contenedorImagenPersona{
        min-width: 150px;
        max-width: 150px;
        min-height: 190px;
        max-height: 190px;
    }

    .contenedorInfoPersona .contenedorImagenPersona img {
        width: 100%;
        height: 100%;
        object-fit: cover;          /* llena el contenedor sin deformarse */
        object-position: top;       /* muestra siempre la parte superior */
        box-shadow: 0px 0px 8px 1px rgba(217,212,212,0.53);
        -webkit-box-shadow: 0px 0px 8px 1px rgba(217,212,212,0.53);
        -moz-box-shadow: 0px 0px 8px 1px rgba(217,212,212,0.53);
    }

    .contenedorInfoPersona .DatosPersonales{
        padding-left: 0px;
        text-align: center;
    }

    .contenedorInfoPersona .columnaIzq  .nombrePersona{
        display: block;
        margin: 7px 0px;
        font-size: 22px;
    }

    .contenedorInfoPersona .sitioOficial{
        display: flex;
        justify-content: center;
    }

    .contenedorInfoPersona .sitioOficial .negritas_sitio_oficial{
        font-size: 16px;
        font-weight: 500;
    }

    .contenedorInfoPersona .columnaIzq .subtitulo{
        display: none;  
    }

    .contenedorInfoPersona .negritas{
        font-size: 16px;
    }

    .contenedorInfoPersona .columnaDer  h1{
        display: none;
    }

    .contenedorInfoPersona .columnaDer .biografiaTitulo{
        font-size: 20px;
    }

    .contenedorInfoPersona .columnaDer p{
        font-size: 16px;
    }
}


.divCarga {
  flex: 1; /* llena el espacio disponible */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px; /* por si el contenedor no logra expandirse */
}