.contenedorInfoPersona{
    padding: 30px 90px 0 90px;
    display: flex;
    gap: 20px;
}

.contenedorInfoPersona .columnaIzq{
    width: 300px;
    flex-shrink: 0;
    flex-grow: 0;
}

.contenedorInfoPersona .sitioOficial{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    gap: 6px;
}

.contenedorInfoPersona .sitioOficial .negritas_sitio_oficial{
    font-size: 18px;
    font-weight: 500;
}

.contenedorInfoPersona .sitioOficial a{
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.contenedorInfoPersona .sitioOficial .material-symbols-outlined{
    font-size: 22px;
    color: black;
}

.contenedorInfoPersona .negritas{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 3px;
}

.contenedorInfoPersona  .dato{
    font-size: 16px;
    margin-bottom: 10px;
}

.contenedorInfoPersona .columnaIzq  .nombrePersona{
    display: none;
}

.columnaDer {
  flex: 1 1 0;       /* flexible */
  max-width: 100%;    /* nunca excede el ancho disponible */
  min-width: 0;       /* permite que el contenido haga overflow dentro de la columna */
}

.contenedorInfoPersona .columnaDer h1{
    font-size: 50px;
    margin: 0;
}

.contenedorInfoPersona .contenedorImagenPersona{
    width: 100%;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
}

.contenedorInfoPersona .contenedorImagenPersona img{
    width: 100%;
}

@media (width <= 910px) {
    .contenedorInfoPersona{
        padding: 30px 15px;
    }
}

@media (max-width: 720px) {
    .contenedorInfoPersona{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contenedorInfoPersona .columnaIzq{
        display: flex;
        width: 100%;
    }

    .contenedorInfoPersona .contenedorImagenPersona{
        min-width: 210px;
        max-width: 210px;
        min-height: 315px;
        max-height: 315px;
    }

    .contenedorInfoPersona .DatosPersonales{
        padding-left: 25px;
    }

    .contenedorInfoPersona .columnaIzq  .nombrePersona{
        display: block;
        font-size: 30px;
        margin-top: 0px;
        margin-bottom: 15px;
    }

    .contenedorInfoPersona .columnaIzq  .subtitulo{
        display: none;
    }

    .contenedorInfoPersona .columnaDer h1{
        display: none;
    }
}