img{
    width: 40px;
}

header{
    width: 100%;
    background-color: rgb(218, 218, 218);
    border-bottom: 1px solid var(--soft-gray);
    padding: 0 90px;
    display: flex;
    align-items: center;
    gap: 20px;
}

nav ul {
    display: flex;
    gap: 30px;
    margin: 20px 0 ;
    padding: 0;
}

nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a{
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}