header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: var(--tmdbDarkBlue);
    padding: 0 90px;
    display: flex;
    align-items: center;
    gap: 20px;
    z-index:100;
}

@media (max-width: 914px) {
    header{
        padding: 0 15px;
        justify-content: space-between;    
    }
}
