img{
    width: 120px;
}

header{
    width: 100%;
    background-color: var(--tmdbDarkBlue);
    border-bottom: 1px solid var(--soft-gray);
    padding: 0 90px;
    display: flex;
    align-items: center;
    gap: 20px;
}
header > nav{
    margin: 5px 0;
}

header nav ul {
    display: flex;
    gap: 30px;
    margin: 20px 0 ;
    padding: 0;
}

header nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav a{
    font-size: 16px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}