.contenedorCarruselReparto {
    width: 100%;
    padding: 0px 90px;
    flex-shrink: 0;
    flex-grow: 0;
    align-items: stretch
}

.contenedorCarruselReparto .carruselReparto{
    width: 100%;
    overflow-x: auto;
    display: flex;
    gap:16px;
    display: flex;
    flex-direction: row;
    padding-bottom: 12px;
}