.contenedorCarruselReparto {
    width: 100%;
    padding: 0px 90px;
    flex-shrink: 0;
    flex-grow: 0;
}

.contenedorCarruselReparto .carruselReparto {
  display: flex;
  flex-direction: row;
  align-items: stretch;      /* hace que los hijos tengan misma altura (según el más alto) */
  gap: 16px;
  overflow-x: auto;
  padding-bottom: 12px;
}