.contenedorCarruselReparto {
    width: 100%;
    padding: 0px 90px;
    flex-shrink: 0;
    flex-grow: 0;
}

.contenedorCarruselReparto .carruselReparto {
  display: flex;
  flex-direction: row;
  align-items: stretch;      /* hace que los hijos tengan misma altura (según el más alto) */
  gap: 16px;
  overflow-x: auto;
  padding-bottom: 12px;
}

@media (width <= 910px) {
    .contenedorCarruselReparto{
        padding: 0px 20px;
    }

    .contenedorCarruselReparto > h2{
      margin-left: 10px;
    }

    .contenedorCarruselReparto .carruselReparto > *:first-child {
        margin-left: 10px; /* padding inicial */
    }

    .contenedorCarruselReparto .carruselReparto > *:last-child {
        margin-right: 10px; /* padding final */
    }
}

@media (width <= 820px) {
    .contenedorCarruselReparto{
        padding: 0px 0px;
    }

    .contenedorCarruselReparto > h2{
      margin-left: 10px;
    }

    .contenedorCarruselReparto .carruselReparto > *:first-child {
        margin-left: 10px; /* padding inicial */
    }

    .contenedorCarruselReparto .carruselReparto > *:last-child {
        margin-right: 10px; /* padding final */
    }
}