.profileIconContainer{
    width: 100%;
    height: 100%;
    position: relative;
}

.profileIconContainer img {
  width: 100%;
  height: 100%;
  display: block;     /* ← ESTE es el fix real */
  object-fit: cover;
  border-radius: 10px;
}