.footer{
    width: 100%;
    background-color: var(--tmdbDarkBlue);
    color: white;
    display: flex;
    padding: 30px 90px;
    justify-content: space-between;
}

.footer > span {
    font-size: 18px;
}

.footer > img {
    width: 200px;
}