.carruselContenedor{
    box-sizing: border-box;
    width: 100%;
    padding: 0 90px;
    overflow-x: auto;
    display: flex;
    display: flex;
    flex-direction: column;
}

.carruselContenedor > h1{
    font-size: 25px;
    font-weight: 500;
}

.carrusel{
    box-sizing: border-box;
    width: 100%;
    overflow-x: auto;
    display: flex;
    gap:16px;
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
}