.overlay {
    position: fixed;
    top:0;
    left:0;
    width: 100dvw;
    height: 100dvh;  
    z-index: 101;
    background-color: rgba(0,0,0,0.7);
    display: none;
}

.overlay.visible{
    display: block;
}