.tabla-departamento table{
    width: 100%;
    box-shadow: 0px 0px 5px rgb(162, 157, 157);
    border-collapse: collapse;
}

.tabla-departamento table:last-child{
    margin-bottom: 30px;
}

.tabla-departamento .fila-grid {
    display: grid;
    grid-template-columns: 120px 1fr; /* ⬅️ ancho fijo para la izquierda */
    grid-template-rows: auto auto;
    gap: 6px;
    padding: 10px;
}

.tabla-departamento tr{
    border-bottom: 1px solid rgb(205, 203, 203);
}

.tabla-departamento .izquierda {
  grid-row: span 2; /* ocupa ambas filas */
  font-size: 22px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabla-departamento .derecha-arriba {
    font-size: 18px;
    font-weight: 500;
}

.tabla-departamento .derecha-abajo {
    font-size: 16px;
}

.tabla-departamento .derecha-arriba span{
    cursor: pointer;
}

.tabla-departamento .derecha-arriba span:hover{
    color: var(--azul-hover);
}

@media (min-width: 461px) and (max-width: 720px) {
    .tabla-departamento{
        padding: 0px 15px 0px 15px;
    }
}

@media (max-width: 460px) {
    .tabla-departamento{
        padding: 0px 15px 0px 15px;
    }
    
    .tabla-departamento h2{
        font-size: 20px;
    }

    .tabla-departamento .fila-grid {
        grid-template-columns: 70px 1fr; /* ⬅️ ancho fijo para la izquierda */
    }

    .tabla-departamento .izquierda{
        font-size: 18px;
    }

    .tabla-departamento .derecha-arriba span{
        font-size: 16px;
    }
}