html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  color: black;
  font-family: 'roboto';
}

:root {
  --tmdbDarkBlue: rgb(3,37,65);
   --soft-gray: #e0e0e0;
   box-sizing: border-box;
}

/* Aplica box-sizing a todos los elementos y pseudo-elementos */
*, *::before, *::after {
  box-sizing: border-box;
}