html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  color: black;
  font-family: 'roboto';
}

:root {
  --azul-hover: #2651a7;
  --tmdbDarkBlue: rgb(3,37,65);
  --soft-gray: #e0e0e0;
  --light-blue: 1,180,228;
  --light-green: 30,213,169;
   box-sizing: border-box;
   color: white;
}

/* Aplica box-sizing a todos los elementos y pseudo-elementos */
*, *::before, *::after {
  box-sizing: border-box;
}

body{
  padding-bottom: env(safe-area-inset-bottom);
}

.divCarga {
  flex: 1; /* llena el espacio disponible */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px; /* por si el contenedor no logra expandirse */
}

.loader {
  width: 60px;
  height: 60px;
  border: 7px solid var(--tmdbDarkBlue);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes colorPulse {
  from{
    background-color: #c9c9c9;
  }
  to{
    background-color: #eeeded;
  }
}