html, body {
  margin: 0;
  padding: 0; 
  color: black;
  font-family: 'roboto';
}

:root {
  --azul-hover: #2651a7;
  --tmdbDarkBlue: rgb(3,37,65);
  --soft-gray: #e0e0e0;
  --light-blue: 1,180,228;
  --light-green: 30,213,169;
  --yellow-button: #F5C518;
  --red-alert: #e63946;
   box-sizing: border-box;
}

/* Aplica box-sizing a todos los elementos y pseudo-elementos */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  background-color: var(--tmdbDarkBlue);
}

/* iOS safe areas */
body{
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

p{
  margin: 0;
}

.divCarga {
  flex: 1; /* llena el espacio disponible */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px; /* por si el contenedor no logra expandirse */
}

.loader {
  width: 60px;
  height: 60px;
  border: 7px solid var(--tmdbDarkBlue);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes colorPulse {
  from{
    background-color: #c9c9c9;
  }
  to{
    background-color: #eeeded;
  }
}

@keyframes blueColorPulse {
  from{
    background-color: rgb(6, 46, 80);
  }
  to{
    background-color: rgb(8, 60, 106);
  }
}

/* HTML: <div class="loadingDots"></div> */
.loadingDots {
  width: 11px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear normal;
}
@keyframes l5 {
    0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
    33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
}