html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  color: black;
  font-family: 'roboto';
}

:root {
  --tmdbDarkBlue: rgb(3,37,65);
   --soft-gray: #e0e0e0;
   --light-blue: 1,180,228;
  --light-green: 30,213,169;
   box-sizing: border-box;
   color: white;
}

/* Aplica box-sizing a todos los elementos y pseudo-elementos */
*, *::before, *::after {
  box-sizing: border-box;
}

body{
  padding-bottom: env(safe-area-inset-bottom);
}
