.SkeletonInfoPeliculaTarjeta{
    background-color: #ebeaea;
    height: 510px;
    width: 100%;
    padding: 30px 90px;
}

.SkeletonInfoPeliculaTarjeta .SkeletonContenedorInformacion {
    width: 100%;
    height: 100%;
    display: flex;
}

.SkeletonInfoPeliculaTarjeta .SkeletonPoster{
    min-width: 300px;
    max-width: 300px;
    min-height: 450px;
    max-height: 450px;   
    border-radius: 8px; 
    animation: colorPulse 0.5s infinite alternate;
}

.SkeletonInfoPeliculaTarjeta .SkeletonInformacion{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.SkeletonInfoPeliculaTarjeta .SkeletonTitulo{
    margin-bottom: 20px;
    height: 48.8px;
    width: 90%;
    animation: colorPulse 0.5s infinite alternate;
}

.SkeletonInfoPeliculaTarjeta .SkeletonRandom{
    margin-bottom: 20px;
    height: 23.2px;
    width: 40%;
    animation: colorPulse 0.5s infinite alternate;
}

.SkeletonInfoPeliculaTarjeta .SkeletonContenedorScore{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.SkeletonInfoPeliculaTarjeta .SkeletonScore{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    animation: colorPulse 0.5s infinite alternate;
}

.SkeletonInfoPeliculaTarjeta .SkeletonTextScore{
    height: 19.2px;
    width: 100px;
    animation: colorPulse 0.5s infinite alternate;
}

.SkeletonInfoPeliculaTarjeta .SkeletonTagline{
    height: 19.2px;
    width: 30%;
    margin-bottom: 20px;
    animation: colorPulse 0.5s infinite alternate;
}

.SkeletonInfoPeliculaTarjeta .SkeletonTextoResumen{
    height: 24px;
    width: 100px;
    margin-bottom: 20px;
    animation: colorPulse 0.5s infinite alternate;
}

.SkeletonInfoPeliculaTarjeta .SkeletonResumen{
    height: 19.2px;
    width: 100%;
    margin-bottom: 10px;
    animation: colorPulse 0.5s infinite alternate;
}

.SkeletonInfoPeliculaTarjeta .SkeletonResumen2{
    height: 19.2px;
    width: 50%;
    margin-bottom: 20px;
    animation: colorPulse 0.5s infinite alternate;
}

.SkeletonInfoPeliculaTarjeta .SkeletoNombre1{
    height: 19.2px;
    width: 140px;
    margin-bottom: 10px;
    animation: colorPulse 0.5s infinite alternate;
}

@media (max-width: 720px) {
    .SkeletonInfoPeliculaTarjeta{
        padding: 0;
        height: 570px;
    }
    .SkeletonInfoPeliculaTarjeta .SkeletonContenedorInformacion{
        flex-direction: column;
    }

    .SkeletonInfoPeliculaTarjeta .SkeletonContenedorPoster{
        width: 100%;
        justify-content: flex-start;
    }

    .SkeletonInfoPeliculaTarjeta .SkeletonPoster{
        min-width: 128.25px;
        max-width: 128.25px;
        min-height: 192.37px;
        max-height: 192.37px;
        margin: 15px;
    }

    .SkeletonInfoPeliculaTarjeta .SkeletonInformacion {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }

    .SkeletonInfoPeliculaTarjeta .SkeletonInformacion .SkeletonTitulo{
        height: 26.5px;
        width: 60%;
        margin: 10px auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .SkeletonInfoPeliculaTarjeta .SkeletonInformacion .SkeletonRandom{
        margin: 5px auto 15px auto;
        height: 19.4px;
        width: 70%;
    }

    .SkeletonInfoPeliculaTarjeta .SkeletonInformacion .SkeletonContenedorScore{
        margin: 0px 15px 20px 15px;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .SkeletonInfoPeliculaTarjeta .SkeletonInformacion .SkeletonScore{
        width: 40px;
        height: 30px;
    }

    .SkeletonInfoPeliculaTarjeta .SkeletonInformacion .SkeletonTagline{
        margin: 0px 15px 10px 15px;
        height: 19.4px;
    }

    .SkeletonInfoPeliculaTarjeta .SkeletonInformacion .SkeletonTextoResumen{
        height: 21.2px;
        margin: 0px 15px 10px 15px;
    }

    .SkeletonInfoPeliculaTarjeta .SkeletonInformacion .SkeletonResumen{
        width: calc(100% - 30px);
        height: 17.4px;
        margin: 0px 15px 5px 15px;
    }
    .SkeletonInfoPeliculaTarjeta .SkeletonInformacion .SkeletonResumen2{
        height: 17.4px;
        margin: 0px 15px 25px 15px;
    }

    .SkeletonInfoPeliculaTarjeta .SkeletonInformacion .SkeletonNombre1{
        height: 17.4px;
        margin: 0px 15px 25px 15px;
    }

    .SkeletonInfoPeliculaTarjeta .SkeletonInformacion .SkeletonResumen2{
        height: 17.4px;
        margin: 0px 15px 15px 15px;
    }

    .SkeletonInfoPeliculaTarjeta .SkeletoNombre1{
        height: 17.4px;
        width: 140px;
        margin: 3px 15px;
    }
}

@keyframes colorPulse {
    from{
        background-color: #c9c9c9;
    }
    to{
        background-color: #eeeded;
    }
}