.contenidoEncontrado {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgb(162, 157, 157);
    overflow: hidden;
    display: flex;
}

.contenidoEncontrado .contenedorPoster{
    min-width: 105px;
    max-width: 105px;
    min-height: 157.5px;
    max-height: 157.5px;
    cursor: pointer;
}

.contenidoEncontrado .contenedorPoster img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* 🔹 ajusta la imagen para llenar el contenedor sin deformarse */
    object-position: center;
}

.contenidoEncontrado .contenedorInformacion{
    flex: 1;
    padding: 10px 15px;
}

.contenidoEncontrado .contenedorInformacion{
    flex: 1;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
}

.contenidoEncontrado .contenedorInformacion h3{
    font-weight: 500;
    margin: 0;
    cursor: pointer;   
}

.contenidoEncontrado .contenedorInformacion h3:hover{
    color: var(--azul-hover);  
}


.contenidoEncontrado .contenedorInformacion .resumen{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden; 
    font-weight: 350;
    margin: 20px 0 0 0;
}


/*Reglas para el actor*/
.contenidoEncontrado .contenedorFoto{
    min-width: 80px;
    max-width: 80px;
    min-height: 90px;
    max-height: 90px;
    cursor: pointer;
}

.contenidoEncontrado .contenedorFoto img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* 🔹 ajusta la imagen para llenar el contenedor sin deformarse */
    object-position: center;
}

.contenidoEncontrado .contenedorInformacionActor{
    flex: 1;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
}

.contenidoEncontrado .contenedorInformacionActor h3{
    margin: 0 0 10px 0;
    cursor: pointer;
}

.contenidoEncontrado .contenedorInformacionActor h3:hover{
    color: var(--azul-hover);  
}


@media (max-width: 914px) {
    .contenidoEncontrado .contenedorInformacion h3{
        font-size: 18px;
    }

    .contenidoEncontrado .contenedorInformacion .resumen{
        font-size: 16px;
    }
}