.contenedorFlexNav{
    display: flex;
    align-items: flex-end;
    order: 3;
}

.contenedorFlexNav > nav{
    margin: 5px 0;
}

.contenedorFlexNav nav ul {
    display: flex;
    gap: 30px;
    margin: 20px 0 ;
    padding: 0;
}

.contenedorFlexNav nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.contenedorFlexNav nav a{
    font-size: 16px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

@media (max-width: 914px) {
    .contenedorFlexNav{
        display: none;    
    }
}